.collapsible {
  background-color: #f1f1f1;
  color: #000000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  font-family: HelvNeue75, sheri font-weightbold, sans-serif;
  font-weight: bold;
}

.collapsible:after {
  content: '\002B';
  color: #333333;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
  color: #333333;
}

.content-wrapper {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
